---
import { BookShowcase } from "../components/BooksShowcase";
import { FilterOptions } from "../components/FilterOptions";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Biblioteca">
  <section class="grid grid-cols-1 md:grid-cols-4 gap-8">
    <div class="md:col-span-1">
      <FilterOptions client:only="solid" />
    </div>
    <div class="md:col-span-3">
      <BookShowcase client:only="solid" />
    </div>
  </section>
</Layout>
