---
import Layout from "../layouts/Layout.astro";
import { ReadingList } from "../components/ReadingList";
---

<Layout title="Lista de lectura">
  <h2 class="text-xl font-bold mb-1">Lista de lectura</h2>
  <p class="text-zinc-600 mb-4">
    Arrastra los libros para ordenarlos como quieras
  </p>
  <ReadingList client:only="solid" />
</Layout>
